body, html {
    background-color: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

h1 {
    color:chocolate;
    font-weight: 700;
    padding: 20px 0;
    text-align: center;
}

h2 {
    color:darkmagenta; 
    text-align: center;
    padding: 0px 0px 20px 0px;
    
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    padding: 0 40px;
    
}

